
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                primary: '#543A14',
                secondary: '#F0BB78',
                tertiary: '#FFF0DC'
              }
            }
          }
        }
      </script>
</head>
<body class="relative bg-secondary h-screen flex items-center justify-center">
    <nav class="absolute top-0 bg-primary w-full flex justify-center pt-4 pb-3 border-b border-slate-800">
        <h1 class="text-white text-4xl">SSPA Bank</h1>
    </nav>
    <div class="bg-primary p-8 rounded-lg shadow-md w-full max-w-md shadow-inner shadow-black">
        <h2 class="text-3xl font-bold mb-6 text-center text-secondary">Login</h2>
        <form method="post" action="/login">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-white mb-2">Username</label>
                <input type="text" id="username" name="username" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-sm font-medium text-white mb-2">Password</label>
                <input type="password" id="password" name="password" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <button type="submit"
                class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition duration-300">
                Login
            </button>
        </form>
        <p class="mt-4 text-center text-sm text-secondary">
            Don't have an account? 
            <a href="/register" class="text-blue-500 hover:text-blue-300 font-medium">Register now</a>
        </p>
        <div th:if="${param.error}" class="mt-3 text-center text-red-600">
            
            Invalid username or password.
        </div>
    </div>
</body>
</html>